
* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 10%;
  background-color: red;
  display:flex;
}

.logo {
  width: 25%;
  height: 100%;
  background-color: blue;
}

.logo a {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 75%;
  height: 100%;
  background-color: red;
}

.menu .menubar {
  height: 100%;
  width: 100%; 
}

.menu .menubar ul {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.menubar ul li {
  list-style: none;
  padding-bottom: 3%;
}

.menubar ul li a {
  text-decoration: none;
  color: yellow;
  font-size: 1.5vw;
  position: absolute;
}

.menu .mobilebar {
  height: 100%;
  width: 0%;
}

.menu .menubar ul li .submenu {
  display: none;
  position: absolute;
  background-color: magenta;
  border: 1px solid black;
  width: 20px;
  z-index: 1;
}

.menu .menubar ul li .submenu li {
  list-style: none;
  padding: 5px 10px;
}

.menu .menubar ul li .submenu li a{
  color: black;
  font-size: 1vw;
  text-decoration: none;
  position: relative; 
}

.menubar ul li:hover .submenu {
  display: block;
}
