
*{
  margin:0;
  padding:0;
}

.header {
  width:100%;
  height:10vh;
  background-color: blue;
  display:flex;
}
.logo{
  width:25%;
  background-color:green;
}
.logo a{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
}

.logo a img{
  width:auto;
  height:auto;
}

.menu{
 width:75%;
 background-color:red;
 display:flex;

}
.nav{
  width:100%;
  hight:100%;
}

.nav ul{ 
  height:100%;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-around;
}

.nav ul li{
 list-style-type:none;
 padding-bottom:2%;
}

.nav ul li a{
  text-decoration:none;
  color:yellow;
  font-size:1.5vw;
  position:absolute;
  }
.nav ul li a:hover{
  color:white;
}

.submenu{
  display:none;
  position: absolute;
  background-color: magenta;
  min-width:25%;
  border:1px solid black;
  padding-left:5px 
  z-index:10;
}
.submenu ul li{
  list-style:none;
  padding:5px 10px;
  text-align:left;
  }

.submenu ul li a{
  color:black;
  font-size:1vw;
  text-decoration:none;
  position:relative;
}


.menu ul li a:hover{
display:block;
}
/*@media (max-width:576px){
 .header{
  height:7%
  background-color:red;
   }*/
}
  
