body{
  margin:0;
}

.header {
  width:100%;
  height:10%;
  background-color: blue;
}
.logo{
  /*display-column:flex;*/
  width:25%;
  background-color:green;
}

.menu{
 width:75%;
 background-color:red;
}

.logo a{
  width:100%;
  height:100%;
  align-items:center;
}

@media (max-width:576px)
 .header{
  height:7%
  background-color:red;
   }
}
  
