body{
  margin:0;
}

.header {
  width:100%;
  height:10vh;
  background-color: blue;
  display:flex;
}
.logo{
  width:25%;
  background-color:green;
}
.logo a{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
}

.logo a img{
  width:auto;
  height:auto;
}

.menu{
 width:75%;
 background-color:red;
 display:flex;
}

.nav ul{ 
  display:flex;
  text-decoration:none;
  list-style:none;
  /*gap:40px;*/
  justify-content:space-between;
}
.nav ul li a{
  text-decoration:none;
  color:yellow;
  font-size:30px;
  
}


.mobilebar{
  
}





@media (max-width:576px){
 .header{
  height:7%
  background-color:red;
   }
}
  
