body{
  margin:0;
}

.header {
  width:100%;
  height:10%;
  background-color: blue;
  display:flex;
}
.logo{
  width:25%;
  background-color:green;
}

.menu{
 width:75%;
 background-color:black;
}

.logo a{
  width:100%;
  height:100%;
  justify-content:center;
  display:flex;
}

.logo a img{
  width:auto;
  height:auto;
}

@media (max-width:576px){
 .header{
  height:7%
  background-color:red;
   }
}
  
